<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.animationall">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tween.CustomAnimActivity" />
        <activity android:name=".tween.MixAnimActivity" />
        <activity android:name=".frame.FrameAnimActivity" />
        <activity android:name=".frame.InterpolatorActivity" />
        <activity android:name=".frame.ViewAnimActivity" />
        <activity android:name=".property.PropertyAnimActivity" />
        <activity android:name=".property.LayoutAnimActivity" />
        <activity android:name=".materialdesign.MaterialDesignActivity" />
        <activity android:name=".materialdesign.MaterialAnimActivity" />
        <activity
            android:name=".materialdesign.MaterialAnimEffect1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".materialdesign.MaterialAnimEffect2Activity" />
    </application>

</manifest>